@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f2daac;
  --color-secondary: #161410;

  --color-placeholder: #32343e;
  --color-red: #c92a0e;
}

* {
  font-family: "Sen", sans-serif;
}
